
#suggestions {
    list-style-type: none;
}

body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    position: -webkit-sticky;
    position: sticky;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    top: 0;
    z-index: 9999;
}